@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "vars";

*{
  outline: 0 !important;
  outline-width: 0px !important;
  outline-style: none !important;
  min-height: 0 !important;
}
 
.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

*::selection{
  background-color: $lightBlue !important;
  color: white;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

label{
  color: $mediumGrey;
}

input::placeholder, .nascimento::-webkit-datetime-edit{
  color: #d1d1d1 !important;
}

.title{
  color: $mediumGrey;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin: 0;
}

@media only screen and (max-width: 1023px) {
  .title {
    font-size: 22px;
  }
}

.sidebar-title{
  color: $mediumGrey;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 26px;
  margin: 0;
}

.subtitle{
  color: $mediumGrey;
  text-transform: uppercase;
  font-weight: 200;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  font-size: 20px;
}

.box{
  border-radius: 0.25rem;
  padding: 2%;
  background-color: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.input, .form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid  $mediumGrey;
  padding: 5px;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
.content {
padding: 20px;
margin-left: 0;
height: 100vh;
}

@media only screen and (max-width: 500px) {
  body {
    overflow-x:  hidden;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span{
    display: unset;
  }

  li a.dropdown-toggle::after {
      display: none;
      position: relative;
      left: 68%;
  }
}

.sidebar-item{
  cursor: pointer;
}

.loader{
  text-align: center;
}